<div class="conteiner d-flex justify-content-center mt-3">
  <div class="card bg-primary" style="width: 25rem; border-radius: 10px;">
    <div class="card-header">
      <h5>Mi cuenta</h5>
    </div>
    <div class="card-body text-start">
      <h5 for="" class="form-label">Alias:</h5>
      <h4 class="btn-primary btn-lg" style="color: rgb(21, 66, 45);"><strong>{{cuenta.alias}}</strong></h4>
    </div>
    <div class="card-body text-start">
      <h5 for="" class="form-label">Cvu:</h5>
      <h4 class="btn-primary btn-lg" style="color: rgb(21, 66, 45);"><strong>{{cuenta.cvu}}</strong></h4>
    </div>
  </div>
</div>
