<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Wallet</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cotizaciones</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Transacciones</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Transferir</a>
              <a class="dropdown-item" href="#">Recibir</a>
              <a class="dropdown-item" href="#"></a>
            </div>
          </li>
        </ul>
        <button type="button" class="btn btn-primary">Registrarse </button>
        <button type="button" class="btn btn-primary">Mi billetera</button>
      </div>
    </div>
  </nav>
