<div class="conteiner d-flex justify-content-center mt-3">
  <div class="row">
    <h3 class="btn btn-primary"><strong>En esta seccion podras visualizar una agenda de cuentas bancarias propias para recargar tu wallet</strong></h3>
    <div *ngIf="cuentasBancos != 0; else elseBlock" class="col">
      <table border="2" class="table table-striped table-dark table-hover">
        <thead>
          <tr class="table-dark" style="opacity: 1">
            <th scope="col">Cbu</th>
            <th scope="col">Descripcion</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let cuentaBanco of cuentasBancos; let i = index"
            class="table"
            style="background-color: rgb(114, 129, 142)"
          >
            <td *ngIf="i < 10">
              <strong>{{ cuentaBanco.cbu }}</strong>
            </td>
            <td *ngIf="i < 10">
              <strong>{{ cuentaBanco.descripcion }}</strong>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #elseBlock>
      <div class="col">
        <p>Usted no posee contactos!!</p>
      </div>
    </ng-template>
  </div>
</div>

<div class="conteiner d-flex justify-content-center">
  <div class="card bg-primary mt-4" style="border-radius: 0.5rem;">
    <div class="card-body">
      <form [formGroup]="cbuForm" class="row d-flex justify-content-start" (ngSubmit)="ingresarPorCbu()">
        <div class="col">
          <input type="text" class="form-control" id="Cbu" placeholder="CBU" formControlName="cbu">
          <input type="number" class="form-control mt-3" id="Importe" placeholder="Importe" 
          formControlName="importe"
          min="1"
          >
        </div>
        <div class="col">
          <button type="submit" class="btn btn-secondary mb-2" >Ingresar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div
      class="btn btn-primary mt-3"
      data-bs-toggle="modal"
      data-bs-target="#modalCuenta"
      (click)="ObtenerBancos()"
    >
      Registrar nueva cuenta
    </div>
  </div>
</div>

<!-- modal -->
<div class="modal" id="modalCuenta">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Registrar cuenta Propia</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="cuentaForm" (ngSubmit)="cargarCuentaBancoPropia()">
          <div class="mb-2 text-start">
            <label for="" class="form-label">Descripción</label>
            <input
              type="descripcion"
              formControlName="descripcion"
              class="form-control"
              id="Descripcion"
            />
            <div *ngIf="Descripcion?.errors && Descripcion?.touched">
              <p *ngIf="Descripcion?.hasError('required')" class="text-danger">
                La descripcion es requerida.
              </p>
            </div>
          </div>

          <div class="mb-2 text-start">
            <label for="" class="form-label">CBU</label>
            <input
              type="cbu"
              formControlName="cbu"
              class="form-control"
              id="cbuLabel"
            />
            <div *ngIf="Cbu?.errors && Cbu?.touched">
              <p *ngIf="Cbu?.hasError('required')" class="text-danger">
                El CBU es requerido
              </p>
              <p *ngIf="Cbu?.errors?.minlength" class="text-danger">
                El CBU debe ser de 22 numeros.
              </p>
            </div>
          </div>

          <div class="mb-2 text-start">
            <label class="form-label" for="banco">Banco</label>
          </div>
          <div class="mb-2 text-start">
            <select id="banco" formControlName="banco" class="form-select">
              <option value="" disabled selected >Seleccione un banco</option>
              <option *ngFor="let banco of bancos" [ngValue]="banco">
                {{ banco }}
              </option>
            </select>
          </div>
          <button type="submit" class="btn btn-secondary">Guardar cuenta</button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            style="margin-left: 5px;"
          >
            Cerrar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
