<div class="conteiner mt-3">
    <div class="text-center">
        <div class="col d-flex justify-content-center">
            <div class="card border-primary mb-3 "  style="max-width: 20rem; min-width: 30rem;">
                <div class="card-header bg-secondary bg-opacity-50">Registrarse</div>
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label for="" class="form-label">Correo electronico</label>
                            <input type="email" class="form-control" id="exampleInputEmail1">
                          </div>
                        <div class="mb-3">
                          <label for="" class="form-label">Usuario</label>
                          <input type="usuario" class="form-control" id="exampleInputUsuario1">
                        </div>
                        <div class="mb-3">
                          <label for="" class="form-label">Contraseña</label>
                          <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Repita contraseña</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                          </div>
                        <button type="button" class="btn btn-secondary">Registrarse</button>
                      </form>
                      <br>
                      <br>
                </div>
            </div>
        </div>
        
    </div>
</div>
