html{
  height: 100%;
}
body{
  padding-top: 70px;
  display:flex; 
  flex-direction: column;
  position: relative;
  }
 
  
  #header{
    
  }
  
  footer{
    background:#333;
    color:#fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8%;
  }

  .row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}