
        <div class="conteiner d-flex justify-content-center mt-3">
          <div class="row">
            <h3 class="btn btn-primary"><strong>En esta seccion podras visualizar una agenda de contactos a las que puedes transferir</strong></h3>
            <div *ngIf="contactos.length != 0; else elseBlock" class="col">
              <table border="2" class="table table-striped table-dark table-hover" >
                <thead>
                  <tr class="table-dark" style="opacity: 1;">
                    <th scope="col">Alias</th>
                    <th scope="col">Cvu</th>
                    <th scope="col">Descripcion</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let contacto of contactos; let i=index" class="table" style="background-color: rgb(114, 129, 142);">
                      <td  *ngIf="i<10"><strong>{{contacto.alias}}</strong></td>
                      <td *ngIf="i<10"><strong>{{contacto.cvu}}</strong></td>
                      <td *ngIf="i<10"><strong>{{contacto.descripcion}}</strong></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <ng-template #elseBlock>
              <div class="col">
                <p>Usted no posee contactos!!</p>
              </div>
            </ng-template>
          </div>
        </div>

        <div class="conteiner d-flex justify-content-center">
          <div class="card bg-primary mt-4" style="border-radius: 0.5rem;">
            <div class="card-body">
              <form [formGroup]="aliasForm" class="row d-flex justify-content-start">
                <div class="col">
                  <input type="text" class="form-control" id="Alias" placeholder="Alias" formControlName="alias">
                  <input type="text" class="form-control mt-3" id="Detalles" placeholder="Detalle" formControlName="detalles">
                  <input type="number" class="form-control mt-3" id="Importe" placeholder="Importe" 
                  formControlName="importe">
                </div>
                <div class="col">
                  <button type="submit" class="btn btn-secondary mb-3" (click)="transferirPorAlias()"[disabled]="!aliasForm.valid || saldoAlias()">Transferir</button>
                </div>
              </form>
            </div>
          </div>
          <div class="card bg-primary mt-4" style="border-radius: 0.5rem; margin-left: 3rem;">
            <div class="card-body">
              <form [formGroup]="cvuForm" class="row d-flex justify-content-start">
                <div class="col">
                  <input type="number" class="form-control" id="Cvu" placeholder="Cvu" formControlName="cvu">
                  <input type="text" class="form-control mt-3" id="Detalles" placeholder="Detalle" formControlName="detalles">
                  <input type="number" class="form-control mt-3" id="Importe" placeholder="Importe"  formControlName="importe">
                </div>
                <div class="col">
                  <button type="submit" class="btn btn-secondary mb-3" (click)="transferirPorCvu()" [disabled]="!cvuForm.valid || saldoCvu()">Transferir</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="conteiner d-flex justify-content-center mt-3">
          <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalNuevoContacto">Nuevo Contacto</button>
        </div>
        
        <!-- Modal Nuevo contacto -->

        <div class="modal" tabindex="-1" id="modalNuevoContacto">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Nuevo contacto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="nuevoContactoForm" (ngSubmit)="cargarContacto()">
                    <div class="mb-2 text-start">
                      <label for="" class="form-label">Alias</label>
                      <input type="text" formControlName="alias" class="form-control" id="Alias" onkeydown="return /[a-z.]/i.test(event.key)">
                      <div *ngIf="AliasNuevo?.errors && AliasNuevo?.touched">
                        <p *ngIf="AliasNuevo?.hasError('required')" class="text-danger">
                        El Alias es requerido.
                        </p>
                      </div>
                    </div>
                    <div class="mb-2 text-start">
                      <label for="" class="form-label">Cvu</label>
                      <input type="text" formControlName="cvu" class="form-control" id="Cvu" onkeydown="return /[0-9]|backspace|Arrow/i.test(event.key)">
                      <div *ngIf="CvuNuevo?.errors && CvuNuevo?.touched">
                        <p *ngIf="CvuNuevo?.hasError('required')" class="text-danger"> El Cvu es requerido.</p>
                        <p *ngIf="CvuNuevo?.errors?.minlength || CvuNuevo?.errors?.maxlength " class="text-danger"> El Cvu debe esta compuesto por 22 numeros.</p>
                      </div>
                    </div>
                    <div class="mb-2 text-start">
                      <label for="" class="form-label">Descripcion</label>
                      <input type="text" formControlName="descripcion" class="form-control" id="Descripcion" onkeydown="return /[a-z spacebar]|backspace|Arrow/i.test(event.key)">
                      <div *ngIf="DescripcionNueva?.errors && DescripcionNueva?.touched">
                        <p *ngIf="DescripcionNueva?.hasError('required')" class="text-danger">
                        La descripcion es requerida.
                        </p>
                      </div>
                    </div>
                    <div class="d-flex justify-content-end">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                      <button type="submit" class="btn btn-secondary" style="margin-left: 7px;">Guardar Contacto</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>