<div class="conteiner-fluid d-flex mt-1" >
  <div class="row">
    <h3 class="btn btn-primary"><strong>En esta seccion podras visualizar las transferencias realizadas desde y hacia una cuenta dentro de la app</strong></h3>
    <div class="col-md-5">
      <p><strong>Transferencias realizadas</strong></p>
      <table *ngIf="mostrarMovimientos" class="table table-striped" style="background-color:rgb(109, 91, 226);">
        <thead>
          <tr class="table-light" style="opacity: 1;">
            <th scope="col">Detalle</th>
            <th scope="col">Importe</th>
            <th scope="col">Fecha y Hora</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transferencia of transferenciasRealizadas; let i=index" class="table">
              <td *ngIf="i<10">{{transferencia.detalles}}</td>
              <td *ngIf="i<10" style="color:rgb(92, 42, 30)"><strong> {{transferencia.importe|currency}}</strong></td>
              <td *ngIf="i<10">{{transferencia.fechaHora}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-5" style="margin-left: 70px;">
      <p><strong>Transferencias recibidas</strong></p>
      <table *ngIf="mostrarMovimientos" class="table table-striped" style="background-color:rgb(109, 91, 226);">
        <thead>
          <tr class="table-light" style="opacity: 1;">
            <th scope="col">Detalle</th>
            <th scope="col">Importe</th>
            <th scope="col">Fecha y Hora</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transferencia of transferenciasRecibidas; let i=index" class="table">
              <td *ngIf="i<10">{{transferencia.detalles}}</td>
              <td *ngIf="i<10" style="color:rgb(5, 118, 12)"><strong> {{transferencia.importe|currency}}</strong></td>
              <td *ngIf="i<10">{{transferencia.fechaHora}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

    
  

